* {
	box-sizing: border-box;
}

body {
	font-family: cursive;
	background-color: #f2f2f2;
}

h3 {
	margin-top: 30px;
	margin-bottom: 5px;
	text-align: center;
}

.row {
	width: 100%;
}

.box {
	background-color: #d9d9d9;
	padding: 10px;
	border: 2px solid black;
	margin: 20px;
	float: left;
}

.box_name {
	padding: 2px;
	border: 2px solid black;
	width: 100px;
	position: relative;
	right: -12px;
	top: -12px;
	float: right;
	text-align: center;
	font-size: 120%;
}

#box_name1 {
	background-color: #ff8080;
}

#box_name2 {
	background-color: #80ff80;
}

#box_name3 {
	background-color: #8080ff;
}

.box_content {
	clear: both;
}

/***** desktop view  ****/
@media (min-width: 992px)
{
	.col-lg-3{
		float: left;
		width: 33.33%;
	}	
}

/***** tablet view  ****/
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-2{
		float: left;
		width: 50%;
	}
}

/***** mobile view  ****/
@media (max-width: 767px)
{
	.col-sm-1{
		float: left;
		width: 100%;
	}
}